* {
    padding: 0;
    margin: 0;
}
.content {
    width: 1500px;
    height: auto;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}
.menu-heading {
    display: flex;
}
.menu ul {
    display: flex;
}
.menu li {
    margin-left: 35px;
    font-size: 20px;
    list-style: none;
}
.menu a {
    text-decoration: none;
}
.menu {
    margin-top: 160px;
    margin-left: 200px;
    margin-right: 100px;
}
.contact {
    margin-top: 150px;
    margin-left: 50px;
    display: flex;
}
.btn1 {
    margin-right: 30px;
}
.btn1 button {
    background-color: white;
    border-color: #F54748;
    color: #F54748;
    border-radius: 10px 10px 10px 10px;
    width: 80px;
    height: 40px;
}
.btn1 button:hover {
    background-color: #F54748;
    color: white;
}
.btn2 button {
    background-color: #F54748;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    width: 80px;
    height: 40px;
}
.btn2 button:hover {
    background-color: white;
    color: #F54748;
    border-style: inset;
}
.logo_cart {
    margin-right: 40px ;
    margin-left: 50px;
}
a:hover {
    color: #F54748;
}
.content .banner img {
    width: 1440px;
    margin-left: 80px;
    border-radius: 80px 10px 80px 10px ;
    margin-top: -50px;
}
.product img {
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}
.main-product1 {
    display: flex;
    margin-left: 80px;
}
.main-product1 .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -0px;
}
.product {
    margin-left: 72px;
    margin-right: -5px;
}
.product:hover {
    box-shadow: 2px 2px 2px 2px pink;
    border-radius: 10px 10px 10px 10px;
}
.banner2 img {
    height: 700px;
}
.banner {
    margin-bottom: 30px;
}
.list2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    margin-left: 10px;
}
.main-product1 {
    margin-left: 0px;

}
.main-product2 {
    margin-left: -80px;

}
.main-product2 {
    display: flex;
}
.main-product2 .banner2 {
    margin-left: 80px;
    margin-top: 50px;
}
.main-product1 .product {
    margin-left: 125px;
}
.main-product2 .product {
    margin-right: 46px;
}
.menu-heading {
    margin-top: -70px;
    margin-bottom: -100px;
}